body {}

.pre-header {
    text-align: center;
    padding: .75rem 0;
}

.navbar-dark {
    min-height: 4rem;
    background-color: #332f2b;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-brand {
    background-color: #c6562c;
    height: 64px;
    width: 64px;
    margin: -.5rem -1rem;
    padding-left: .25rem;
}

.navbar-brand img {
    width: auto;
    height: -webkit-fill-available;
    max-width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:active {
    color: #c6562c;
}

.navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

.main {
	margin: 3rem 0 6rem;
}

	.main .card {
		margin-top: 3rem;
	}

ul.alert {
    margin-top: 1rem;
    font-size: 12px;
    list-style: none;
}

.btn-success {
}

.btn-success:hover,
.btn-success:focus {
}
