<?php
$this->headTitle('Berenberg - test app form');

$form = $this->form;
$form->setAttribute('action', $this->url('appform'));
$form->get('firstname')->setAttributes([
    'id'=>'firstname',
    'class'=>'form-control',
    'placeholder'=>'Enter your First name'
]);
$form->get('lastname')->setAttributes([
    'id'=>'lastname',
    'class'=>'form-control',
    'placeholder'=>'Enter your Last name'
]);
$form->get('email')->setAttributes([
    'id'=>'email',
    'class'=>'form-control',
    'placeholder'=>'Enter your Email address'
]);
$form->get('send')->setAttributes(['class'=>'btn btn-primary']);
$form->prepare();
?>

<div class="row justify-content-center">
    <div class="col-sm-8">
        <h1>Berenberg - test app form</h1>
        <p>
            This is an Berenberg Applicant Task test form made in ZF3.<br>
            Made by <strong>Petar Simic</strong>
        </p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <strong>Test form</strong>
            </div>
            <div class="card-body">
                <?php echo $this->form()->openTag($form); ?>
                
                <div class="form-group row">
                    <?php echo $this->formLabel($form->get('firstname')); ?>
                    <div class="col-sm-9">
                        <?php echo $this->formElement($form->get('firstname')); ?>
                    </div>
                </div>
                
                <div class="form-group row">
                    <?php echo $this->formLabel($form->get('lastname')); ?>
                    <div class="col-sm-9">
                        <?php echo $this->formElement($form->get('lastname')); ?>
                    </div>
                </div>
                
                <div class="form-group row">
                    <?php echo $this->formLabel($form->get('email')); ?>
                    <div class="col-sm-9">
                        <?php echo $this->formElement($form->get('email')); ?>
                        <?php echo $this->formElementErrors($form->get('email'), ['class' => 'alert alert-danger']); ?>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <?php echo $this->formElement($form->get('send')); ?>
                    </div>
                </div>
                
                <?php echo $this->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</div>