<?php
$this->headTitle('Berenberg - test app form - error');
?>

<div class="row justify-content-center">
    <div class="col-sm-8">
        <h1>Berenberg - test app form</h1>
        <p>
            This is an Berenberg Applicant Task test form made in ZF3.<br>
            Made by <strong>Petar Simic</strong>
        </p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <strong>Test form - error</strong>
            </div>
            <div class="card-body">
			    <div class="alert alert-danger">
					There has been an error! Please resubmit your form!
			    </div>
			</div>
		</div>
	</div>
</div>